@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.425 !important;
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}

:root {
  --dark-color: #222222;
  --light-color: #fefefe;
  --border-color: #e5e7eb;
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 4px 0 0 #cbd5e1;
  --green-color: #4bcc00;
  --darkGreen-color: #35AF00;
  --lightGreen-color: #E8FCC9;
  --inputColor: #eff2f5;
  --textRed : #ff3a33;
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
}

::selection {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Header Css */
.top-section {
  padding-block: 0.625rem;
  border-bottom: 1px solid var(--border-color);
}
.rightTop-section,
.leftTop-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.leftTop-section-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.leftTop-section-content div {
  font-size: 12px;
}

.rightTop-section-content .dropdown-item div {
  font-size: 14px;
}

.rightTop-section-content .nav-item.dropdown a.dropdown-toggle.nav-link::after {
  display: none;
}

.rightTop-section-content-login,
.rightTop-section-content .nav-item.dropdown {
  padding-block: 0.2rem;
  padding-inline: 0.625rem;
  background: var(--light-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  font-size: 14px;
  border: 2px solid #cbd5e1;
}

.rightTop-section-content-signup {
  padding-block: 0.2rem;
  padding-inline: 0.625rem;
  background: var(--green-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), 0 4px 0 0 #2b8f00;
  font-size: 14px;
  border: 2px solid var(--green-color);
  text-wrap: nowrap;
  color: var(--light-color);
}

.header-section {
  padding-block: 0.625rem;
  border-bottom: 1px solid var(--border-color);
}

.header-left-section {
  display: flex;
  gap: 0rem;
  align-items: center;
}

.menu-list {
  color: var(--dark-color);
  font-weight: 600;
}

.menu-list ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 0 !important;
}

.menu-list ul li {
  position: relative;
}

.menu-list ul li:hover .menu-list-dropdown {
  display: block;
}

.menu-list-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: none;
}

.menu-list-dropdown a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu-list-dropdown a:hover {
  padding: 0.5rem 1rem;
  background: #f1f1f1;
}
.searchBar {
  position: relative;
  background-color: var(--inputColor) !important;
  border-radius: 0.5rem;
  height: 35px;
}

.searchBar input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: var(--dark-color) !important;
  padding: 0.5rem 0.8rem 0.5rem 1.8rem;
  font-size: 13px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%); 
}

.searchIcon svg{
  width: 16px;
  height: 16px;
}

.searchLink {
  position: absolute;
  top: 50%;
  right:0.7rem;
  transform: translate(0, -50%);  
}

.searchLink span {
  background: #CBD5E1;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 12px !important;
}

.protfolioIcons svg path{
  fill: #EAB308 !important;
}

/* Home Page Css */
.boxMarket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border: 2px solid #EFF2F5;
  border-radius: 1rem;
}

.trandingList {
  padding: 0.5rem;
  background: transparent;
  border-radius: 0.5rem;
  &:hover{
    background: #f1f1f1;
  }
}

.boxMarketWrapper {
  height: 100%;
  padding: 1.2rem 0.5rem;
  border: 2px solid #EFF2F5;
  border-radius: 1rem;
}

.tabArea-left.active {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.5rem;
}

.tabArea-left-wrapper {
  overflow-x: auto;
  text-wrap: nowrap;
}

.tabArea-right-wrapper .rightTop-section-content{
  background-color: var(--light-color);
  border-color: none;
  box-shadow: none;
}