@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.425 !important;
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}

:root {
  --dark-color: #222222;
  --light-color: #fefefe;
  --border-color: #f3f0f0;
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 4px 0 0 #cbd5e1;
  --green-color: #4bcc00;
  --darkGreen-color: #35af00;
  --lightGreen-color: #e8fcc9;
  --inputColor: #eff2f5;
  --textRed: #ff3a33;
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
}

::selection {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.menu-list-dropdown,
.dropdown-menu {
  border: 0 !important;
  background: var(--light-color) !important;
  box-shadow: 0px 10px 15px #efefef !important;
  padding: 1rem !important;
}

.dropdown-item {
  padding: 0.5rem !important;
  border-radius: 0.5rem !important;
  margin-bottom: 0.3rem;
  &:hover {
    background-color: #eff2f5 !important;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "" !important;
}

.dropdown-menu.show {
  display: block;
  font-size: 14px;
}

/* Header Css */
.top-section {
  padding-block: 0.625rem;
  border-bottom: 1px solid var(--border-color);
}
.rightTop-section,
.leftTop-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.leftTop-section-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.leftTop-section-content div {
  font-size: 12px;
}

.rightTop-section-content .dropdown-item div {
  font-size: 14px;
}

.rightTop-section-content .nav-item.dropdown a.dropdown-toggle.nav-link::after {
  display: none;
}

button.rightTop-section-content-signup {
  padding-block: 0.2rem;
  padding-inline: 0.625rem;
  background: var(--green-color) !important;
  color: var(--dark-color);
  border-radius: 0.5rem;
  font-size: 14px;
  border: 2px solid var(--green-color) !important;
  text-wrap: nowrap;
  color: var(--light-color);
  box-shadow: 0 2px 0 0 var(--green-color) !important;
  &:hover {
    background: var(--darkGreen-color) !important;
    border: 2px solid var(--darkGreen-color) !important;
    box-shadow: 0 3px 0 0 green !important;
  }
}

.header-section {
  padding-block: 0.625rem;
  border-bottom: 1px solid var(--border-color);
}

.header-left-section {
  display: flex;
  gap: 0rem;
  align-items: center;
}

.menu-list {
  color: var(--dark-color);
  font-weight: 600;
}

.menu-list ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 0 !important;
}

.menu-list ul li {
  position: relative;
}

.menu-list ul li:hover .menu-list-dropdown {
  display: block;
}

.menu-list-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: none;
}

.menu-list-dropdown a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu-list-dropdown a:hover {
  padding: 0.5rem 1rem;
  background: #f1f1f1;
}
.searchBar {
  position: relative;
  background-color: var(--inputColor) !important;
  border-radius: 0.5rem;
  height: 35px;
}

.searchBar input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: var(--dark-color) !important;
  padding: 0.5rem 0.8rem 0.5rem 1.8rem;
  font-size: 13px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%);
}

.searchIcon svg {
  width: 16px;
  height: 16px;
}

.searchLink {
  position: absolute;
  top: 50%;
  right: 0.7rem;
  transform: translate(0, -50%);
}

.searchLink span {
  background: #cbd5e1;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 12px !important;
}

.protfolioIcons svg path {
  fill: #eab308 !important;
}

/* Home Page Css */
.boxMarket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border: 2px solid #eff2f5;
  border-radius: 1rem;
}

.trandingList {
  padding: 0.5rem;
  background: transparent;
  border-radius: 0.5rem;
  &:hover {
    background: #f1f1f1;
  }
}

.boxMarketWrapper {
  height: 100%;
  padding: 1.2rem 0.5rem;
  border: 2px solid #eff2f5;
  border-radius: 1rem;
}

.tabArea-left.active {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.5rem;
}

.tabArea-left-wrapper {
  overflow-x: auto;
  text-wrap: nowrap;
}

.tabArea-right-wrapper .rightTop-section-content {
  background-color: var(--light-color);
  border-color: none;
  box-shadow: none;
}

.faq-section {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

.blogCardTag {
  background: var(--inputColor);
  display: inline-flex !important;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.CusBtn {
  background-color: var(--inputColor);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-color);
  &:hover {
    background-color: #cbd5e1;
  }
}

.footer-links li {
  padding-bottom: 0.8rem;
}

.footerCol h6 {
  font-size: 16px !important;
  font-weight: 600 !important;
}
ul.footer-links li a {
  color: #64748b !important;
}

.subscribeInput {
  width: 300px !important;
  font-size: 14px !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Single Page Css */
.tooltip {
  max-width: 380px !important;
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
  border-radius: 8px !important;
  padding: 5px !important;
  box-shadow: 0px 10px 15px #efefef !important;
  opacity: 1 !important;
}

.tooltip .tooltip-inner {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
  opacity: 1 !important;
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.progress {
  height: 0.4rem !important;
}

.progress-bar {
  background: linear-gradient(
    280deg,
    rgba(0, 168, 62, 1) 0%,
    rgba(67, 182, 59, 1) 23%,
    rgba(120, 193, 57, 1) 41%,
    rgba(255, 221, 51, 1) 100%
  ) !important;
}

.CusBtnDark {
  background-color: var(--inputColor) !important;
  border: 1px solid var(--inputColor) !important;
  padding: 0 0 0 0.5rem !important;
  border-left: 2px solid #cbd5e1 !important;
}

.CusBtnDark::after {
  color: var(--dark-color) !important;
}

.CusBtn.dropdown.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.5rem;
  gap: 0.5rem;
  &:hover {
    background-color: var(--inputColor);
  }
}

.Explorer-dropdown {
  height: 200px;
  overflow-y: scroll;
  width: 220px;
}

form.currencyConverterForm {
  border: 2px solid var(--inputColor);
  border-radius: 0.8rem;
}

.currencyInput {
  padding: 1rem 0.8rem;
}

span.currencyInputText {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
}

.dropdown button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  &:hover {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  &:active {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transform: scale(1);
  }
}

button {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 0.4rem 0.8rem !important;
  background: #fff !important;
  border: 2px solid #cbd5e1 !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 2px 0 0 #cbd5e1 !important;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 3px 0 0 #94a3b8 !important;
    border: 2px solid #ccd6e1 !important;
    background: #f1f5f9 !important;
  }
}

button:active {
  box-shadow: 0 3px 0 0 #94a3b8 !important;
  border: 2px solid #ccd6e1 !important;
  background: #f1f5f9 !important;
  transform: translatey(3px);
}

.animateImg {
  animation: thumbsUp 1s linear;
}

@keyframes thumbsUp {
  0% {
    transform: scale(2.8);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.nav.nav-tabs {
  gap: 0.5rem;
  border-bottom: none;
}

.nav-item button.active {
  color: var(--darkGreen-color) !important;
  background: var(--lightGreen-color) !important;
  font-size: 14px;
  padding: 0.4rem 0.8rem;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0.5rem;
  border: none !important;
  box-shadow: none !important;
  transform: translateY(0) !important;
}
.nav-item button {
  color: var(--dark-color) !important;
  background: var(--inputColor) !important;
  font-size: 14px;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: none !important;
  box-shadow: none !important;
  transform: translateY(0) !important;
}



/* Custom Switch Styling */
/* .form-switch .form-check-input:checked{
  --bs-form-switch-bg:none !important;
}

.form-switch .form-check-input {
  height: 18px;
  background-color: #ddd;
  border: none;
  position: relative;
  transition: background-color 0.3s ease-in-out, box-shadow 0.2s;
  padding: 0.5rem 1.8rem;
  border-radius: 0.2rem !important;
}

.form-switch .form-check-input::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 5px;
  top: 0;
  left: 2px;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-switch .form-check-input:checked::before {
  content: "✔";
  font-size: 14px;
  color: #0f0; 
  background-color: white;
  transform: translateX(25px);
}

.form-switch .form-check-input:checked {
  background-color: #28a745; 
  border-color: #28a745;
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
} */
